<div>
  <p>After November 8, many of us have been talking about wanting to step out of the echo chamber in our lives to talk to someone who supported the other side.</p>
  <p>If this sounds like you, sign up here – but you have to promise to be nice! I'll try to match you with someone who supported the other candidate and shoot you two an email introducing you to one another. From there, you can find a time to have a phone call, Google Hangout, or even meet face-to-face.</p>
  <p>I'll also work with some experienced facilitators to put together a conversation guide so you have some questions to get started on the right foot.</p>
  <p>Questions? I'm at <a href="mailto:henry@hifromtheotherside.com">henry@hifromtheotherside.com</a>.
</div>
