<p>Hey <%= @user.first_name %>,</p>
<p>
  Here’s the Challenge Key to unlock your $10 Starbucks eGift card. Your match <%= @other.first_name %> has the link to the page where you need to enter it. When you’re at Starbucks, put your pieces together to get the $10 Starbucks eGift card!
</p>
<p>
  Your Challenge Key: <b><%= @challenge %></b>
</p>
<%= render 'footer' %>
